# トリガ設定
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

#ワークフローディスパッチ
  workflow_dispatch:

jobs:
  update:
    name: 差分ビルド
    runs-on: windows-latest
    timeout-minutes: 5
    steps:
      # チェックアウト
      - name: チェックアウト
        uses: actions/checkout@v2
        with:
          fetch-depth: 0     
      # ファイル確認
      - name: ファイル確認
        run: |
          pwd
          dir
      - name: 差分のあるファイルを取得
        run: |
          git diff --name-only @^ 
          git diff --name-only @^ > temp.txt
        shell: bash
      # 成形
      - name: 成形
        run: .\text_comvert.bat
        shell: pwsh
      # batファイル確認
      - name: バッチ確認
        run: type make.bat
      # 差分ビルド
      - name: 差分ビルド
        run: .\make.bat
