# 題名
name: Deploy
env:
  PROJECT_NAME: sample

# トリガ設定
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

#ワークフローディスパッチ
  workflow_dispatch:

jobs:
  #セットアップ
  setup:
    name: セットアップ
    runs-on: windows-latest
    timeout-minutes: 5
    outputs:
      AWS_ACCOUNT_ID: ${{ steps.setenv.outputs.AWS_ACCOUNT_ID }}
      STAGE_NAME: ${{ steps.setenv.outputs.STAGE_NAME }}
    steps:
      - name: make tempfike
        run: touch diff_file.txt
      # チェックアウト
      - name: チェックアウト
        uses: actions/checkout@v2
        with:
          fetch-depth: 2
      # 差分取得
      - name: 差分取得
        id: changed-files
        uses: tj-actions/changed-files@v10.1
      # テスト
      - uses: ./.github/workflows/composite/diff
        name: diff
        id: diff
      # 差分のあるファイルを取得
      - name: 差分のあるファイルを取得
        run: |
          git diff --name-only @^
      # 差分ビルド
      - name: 差分ビルド
        run: dir
        
