# 題名
name: Deploy
env:
  PROJECT_NAME: sample

# トリガ設定
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

#ワークフローディスパッチ
  workflow_dispatch:

jobs:
  #セットアップ
  setup:
    name: Setup
    runs-on: windows-latest
    timeout-minutes: 5
    outputs:
      AWS_ACCOUNT_ID: ${{ steps.setenv.outputs.AWS_ACCOUNT_ID }}
      STAGE_NAME: ${{ steps.setenv.outputs.STAGE_NAME }}

  steps:
    # チェックアウト
    - uses: actions/checkout@v2
      with:
        fetch-depth: 2

    # 差分取得
    - name: Get changed files
      id: changed-files
      uses: tj-actions/changed-files@v10.1  

    #
    - name: 差分のあるファイルを取得
      run: git diff --name-only @^ > diff_file.txt

    # Runs a set of commands using the runners shell
    - name: 差分ビルド
      run: diff_file.txt
